<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Financial Portal - GenAI</h2>
        <form action="/ai_agent" method="post">
            <input type="submit" value="Tell me a joke about Singapore.">
        </form>
        <form action="/prediction" method="post">
            <input type="submit" value="prediction">
        </form>
        <form action="/paynow" method="post">
            <input type="submit" value="paynow">
        </form>
        <form action="/SA" method="post">
            <input type="submit" value="Sentiment Analysis">
        </form>
    </div>
</body>
</html>
